:root {
  --green: #8D8741;
  --blue: #659DBD;
  --pink: #DAAD86;
  --brown: #BC986A;
  --creme: #FBEEC1; 
}

@font-face {
  font-family: oswald;
  src: url(fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

* {
 /* border: 1px solid black !important; */
}
 /* Main Container */
.container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 45px;
  
}

/* Info section */

.info {
  border: solid black 1px;
  height: 600px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  font-family: Montserrat, oswald, 'Times New Roman', Times, serif;
}

.info > .name {
  align-self: center;
  font-size: 60pt;
  font-weight: 800;
  grid-row-start: 2;
  }

.info > .bio {
  grid-row-start: 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.bio > .message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio > .list {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
}

.list > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

/* Profile Picture */

.profile-picture {
  border: 1px solid black;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  background-image: url(images/axel-2.JPG);
  background-position: left 48% bottom 50%;
}