:root {
  --green: #8D8741;
  --blue: #659DBD;
  --pink: #DAAD86;
  --brown: #BC986A;
  --creme: #FBEEC1; 
}

@font-face {
  font-family: oswald;
  src: url(fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 30px;
}

 /* Main Container */
.container {
  flex: 1;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 45px;  
}

/* Info section */

.info {
  border: 1px solid black;
  height: 600px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  font-family: Montserrat, oswald, 'Times New Roman', Times, serif;
}

.info > .name {
  justify-self: center;
  align-self: center;
  font-size: 60pt;
  font-weight: 800;
  grid-row-start: 2;
}

.info > .bio {
  font-size: 20pt;
  grid-row-start: 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.bio > .message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio > .list {
 display: flex;
 flex-wrap: wrap;
}

.list-group {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
 
/* These are the images listed in my experience */

.list-group *  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  max-width: auto;
}

.break  {
  flex-basis: 100%;
  height: 0;
}

/* Profile Picture */

.profile-picture {
  border: 1px solid black;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  background-image: url(images/axel-2.JPG);
  background-position: left 48% bottom 50%;
}