:root {
  --bright-blue: #00ABE4;
  --white: #FFFFFF;
  --light-blue: #E9F1FA;
  --black: #1e375a;
}

@font-face {
  font-family: oswald;
  src: url(fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

body {
  height: 200vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: var(--light-blue);
  font-family: Montserrat, oswald, 'Times New Roman', Times, serif;
}

 /* Main Container */
.container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Info section */

.info {
  height: 600px;
  flex: 1;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  color: var(--black);
}

.info > .name {
  justify-self: center;
  align-self: center;
  font-size: 60pt;
  font-weight: 800;
  grid-row-start: 2;
}

.info > .bio {
  font-size: 20pt;
  grid-row-start: 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.bio > .message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio > .list {
 display: flex;
 flex-wrap: wrap;
}

.list-group {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
 
/* These are the images listed in my experience */

.list-group *  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  max-width: auto;
}

.break  {
  flex-basis: 100%;
  height: 0;
}

/* Profile Picture */

.profile-picture {
  height: 600px;
  width: 600px;
  border-radius: 50%;
  background-image: url(images/axel-2.JPG);
  background-position: left 48% bottom 50%;
}

/* Page Two */

.vermont {
  flex: 1;
}

.biography  {
  flex: 1;
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 5px;
  margin-left: 10px;
  color: var(--black);
}

.biography .title {
  font-size: 60pt;
  align-self: center;
  justify-self: center;
}

.biography .story {
  font-size: 24pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  text-indent: .5in;
}

/* footer */

footer {
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bright-blue);
  box-shadow: 0px -5px 5px #FAF9F6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

footer > .socials {
  grid-column-start: 3;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
  color: var(--white);
}

.socials * {
  color: white;
  font-size: 20pt;
  height: 40px;
}