@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, forest, emerald;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

.rotate-custom-5 {
  @apply rotate-5;
}
.-rotate-custom-5 {
  @apply -rotate-5;
}